@font-face {
	font-family: 'CircularSp';
	src: url('/fonts/CircularSpotifyText-Light.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'CircularSp';
	src: url('/fonts/CircularSp-Book.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'CircularSp';
	src: url('/fonts/CircularSpotifyText-Medium.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'CircularSp';
	src: url('/fonts/CircularSpotifyText-Bold.woff') format('woff');
	font-weight: 700;
}
@font-face {
	font-family: 'CircularSp';
	src: url('/fonts/CircularSpotifyText-Black.woff') format('woff');
	font-weight: 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: CircularSp, sans-serif;
	}

	.playlistsGrid {
		grid-template: auto/repeat(auto-fill, minmax(max(270px, 25%), 1fr));
	}

	.featuredPlaylists {
		grid-template: auto/repeat(auto-fill, minmax(max(186px, 20%), 1fr));
	}
}
